# ==========================
# Python
# ==========================

__pycache__/
*.py[cod]
*$py.class

# ==========================
# Virtual Environments
# ==========================

venv/
.venv/
env/

# ==========================
# Environment Files
# ==========================

.env
.env.*

# ==========================
# VS Code / IDE
# ==========================

.vscode/
.idea/

# ==========================
# Test / Cache
# ==========================

.pytest_cache/
.mypy_cache/
.coverage
htmlcov/

# ==========================
# Logs
# ==========================

*.log
logs/

# ==========================
# OS Files
# ==========================

.DS_Store
Thumbs.db

# ==========================
# Python Bytecode
# ==========================

*.pyc
*.pyo

# ==========================
# Temporary Files
# ==========================

*.tmp
*.temp
